* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}
body {
    overflow: hidden;
}
::selection {
    background: rgba(255, 255, 255, 0.136);
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(19, 19, 19); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
background: #ffffff17; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #ffffff3f; 
}

button {
    background: none;
    outline: none;
    border: none;
    font-family: inherit;
}
.bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -999;
}

.bg::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(130deg, #ffffff44, #ffffff00);
    top: 0px;
    left: 0px;
    z-index: -998;
}

.btn {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    font-family: "Teko";
    padding: 10px 0px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 20px;
    border-radius: 10px;
    color: white;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.69) 8px 8px 20px 0px, rgba(0, 0, 0, 0.542) -4px -2px 10px 5px inset;
    text-decoration: none;
    outline: none;
    border: none;
    transition: 0.5s;
}
.btn:active {
    transform: translateY(5px);
    box-shadow: rgba(0, 0, 0, 0.845) 8px 8px 20px 0px, black 0px 0px 5px 0px inset;
}

.btn-c1 {
    background: linear-gradient(90deg, rgb(255, 204, 0) , rgb(255, 145, 0));
}

#mousepointer {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100%;
    transition: 0.05s;
    left: -50px;
    z-index: 1000002;

    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    overflow: hidden;
}
#mousepointer div {
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 100%;
}
/* #mousepointer::before {
    content: "";
    position: absolute;
}
#mousepointer:active {

} */
